@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");


:root {
  --color1: #258119;
  --color2: #790e25;
}
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: "PT Serif", serif;
}
header {
  top: 0;
  left: 0;
  height: 81px;
  width: 100%;
  z-index: 100;
  padding: 10px 20px;
  align-items: center;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

section {
  position: relative;
  width: 100%;
  /* max-height: 900px; */
  /* overflow: hidden; */
  background: #0b071d;
}

p {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}
.burger{
  display: none;
}
.menu-dsc {
  display: flex;
}
.bg {
  background: #0b071d;
}

nav ul li a {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #00cda8;
}
.menu-dsc li {
  margin-right: 20px;
  list-style: none;
}
.menu-dsc a:hover {
  color: azure;
}

.s-btn {
  border-radius: 25px;
  border: 1px solid #00cda8;
  color: #00cda8;
  padding: 9px 17px;
  height: 40px;
  font-size: 15px;
}
.s-btn:hover {
  color: white;
  background: #00cda8;
}
.s-btn.btn-home {
  margin-top: 15px;
}

.logo-link {
  text-decoration: none;
  color: aqua;
}
.logo-nav {
  display: flex;
}
.logo-nav img {
  width: 42px;
  height: 42px;
  margin-right: 10px;
}
.logo-title {
  text-align: left;
  color: #00cda8;
}

.home {
  top: 0;
}
.btn-home {
  margin-top: 20px;
}
.bgimg {
  width: 100%;
  height: 100vh;
  background-image: url(/img/header_img.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 272%;
}
.bgimg.club {
  background-image: url(/img/man-bg.svg);
}
.bgimg.whatget {
  background-image: url(/img/hexagon2.png);
  background-size: cover;
  width: 608px;
  height: 519px;
  left: 50%;
  display: flex;
  position: relative;
  transform: translateX(-50%);
}
.s-text {
  color: white;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38%;
  transform: translateX(-50%);
  text-align: center;
}

.img-top-center {
  z-index: 2;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
}

.top-gradient {
  background: linear-gradient(180deg, #0b071d 0%, rgba(11, 7, 29, 0) 100%);
  width: 100%;
  height: 29%;
  position: absolute;
  z-index: 1;
  top: -4px;
}
.club.top-gradient {
  height: 9%;
}
.btm-gradient {
  background: linear-gradient(3deg, #0b071d 19%, rgba(11, 7, 29, 0) 85%);
  width: 100%;
  height: 45%;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

/* club section */

.club-content {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    display: flex;
    /* flex-direction: column; */
    position: absolute;
    top: 27%;
    height: 200px;
    color: white;
    font-family: Montserrat;
}
.club .top-gradient{
  top: -2px;
}
.club-title {
  width: 41%;
  top: 100px;
  left: 79px;
  position: relative;
}
.club-title h1 {
  color: #00cda8;
  margin-bottom: 30px;
}
.club-title p {
  font-size: 18px;
}
.club-title-item{
    top: -150px;
    left: 0;
    position: absolute;
    margin: 0 auto 116px;
    text-align: center;
}
.club-title-item h1{
font-size: 56px;
}

.club-bgtitle{
    top: -155px;
    left: 50%;
    font-size: 243px;
    position: absolute;
    z-index: 99;
    color: #00cda740;
    font-weight: 700;
    font-family: "PT Serif", serif;
}


.club-statistic {
  display: flex;
  margin-top: -66px;
  flex-direction: column;
  width: 40%;
  margin-left: 75px;
}
.club-item {
    margin-right: 76px;
    text-align: center;
}
.club-item p {
  font-size: 16px;
  margin: 0;
  line-height: 18px;
}
.club-item h1 {
  display: flex;
  align-items: center;
    font-size: 110px;
    color: #00cda8;
    font-weight: 600;
}
.club-item span{
  font-size:60px;
}
.statistic-top {
  display: flex;
}
.statistic-top.statbottom {
  margin-top: 50px;
}

/* section what get */
.whatget {
  padding-bottom: 90px;
  top: -2px;
}
.whatget-diagram{
  width: 75%;
  position: relative;
  top: 173px;
  margin: 0 auto;
}
.whatget-diagram img{
  max-width: 100%;
}
.block-title {
    top: 150px;
    position: relative;
    width: 60%;
    margin: 0 auto 116px;
    text-align: center;
    min-width: 300px;
}
.block-title h1 {
  font-size: 54px;
  color: #00cda8;
  z-index: 101;
  /* font-weight: 700; */
}
.bgtitle {
  top: -155px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 243px;
  position: absolute;
  z-index: 99;
  color: #00cda740;
  font-weight: 700;
  font-family: "PT Serif", serif;
}
.row-item {
  font-size: 16px;
  color: #fff;
}

.whatget-content {
    width: 70%;
    height: 800px;
    position: relative;
    margin: 0 auto;
}

.whatget-text{
  margin-top: 30px;
  position: absolute;
  top: 319px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 512px;
}
.whatget-text-row{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.whatget-item{
    width: 200px;
    height: 70px;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
    color: white;
    text-align: left;
}
.whatget-text-row .whatget-item:first-child{
  text-align: right;
}
/* section 3 */
.mentor-content{

}
.mentor-photo{
    position: absolute;
    top: 19%;
    left: 30%;
}
.mentor-photo img {
    position: static;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}
.mentor-info{
    width: 630px;
    position: absolute;
    height: 515px;
    color: white;
    top: 30%;
    left: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.metor-info p {
    font-size: 20px;
}

.mentor-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}
.mentor-text{
    background: #2a2739c4;
    height: 430px;
    padding: 50px;
}
.mentor-text h2{
    color: #00cda8;
    margin-bottom: 45px;
    margin-top: 28px;
}
.mentor-btn{
    margin-left: 162px;
}
.mentor-btn button{
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: #3d3d3d;
    margin-right: 30px;
}
.mentor-str button {
    background: none;
    border: 2px solid #006C64;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    color: #fff;
}
/* event ------------------------*/
section.event{
    height:940px;
}
.block-event{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 240px;
}
.event-photo{
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.event-photo img {
  border-radius: 5px;
}
.event-title{
    color: #fff;
    font-size: 15px;
    margin-top: 70px;
    width: 38%;
    min-width: 300px;
    margin: 70px auto 30px;
}
.event-title p {
    font-size: 16px;
    text-align: center;
}
.pre, .next{
    width: 20%;
    height: 75%;
    overflow: hidden;
    position: relative;
}
.pre img, .next img{
  position: absolute;
  opacity: 0.4;
}
.pre img{
  top: 0;
  right: 0;
}
.next img{
  top: 0;
  left: 0;
}

.current{
    width: 50%;
    height: 95%;
    position: relative;
    overflow: hidden;
}
.current img{
  position: absolute;
    width: 100%;
    filter: brightness(135%);
}
.event-photo button {
  position: absolute;
  top: 50%;
  right: 16%;
  background: none;
    border: 2px solid #006C64;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    color: #fff;
}
.event-photo button:first-child{
  left: 75px;
}
.event-photo button.first{
  left: 16%;
}

/* forma ---------------------------*/
section.forma {
    height: 900px;
}

.block-form{
    position: absolute;
    width: 70%;
    margin: 100px auto;
    left: 50%;
    transform: translateX(-50%);
}
.form-in input{
    display: block;
    background: #211E31;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    height: 38px;
    width: 44%;
    margin: 10px auto;
    min-width: 340px;
    color: #fff;
}
.form-content{
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.form-content p{
    margin: 35px auto;
}
.iagree{
    display: flex;
    width: fit-content;
    margin: 40px auto;
}
.iagree input{
    font-size: 14px;
    height: 21px;
    width: 24px;
    margin: 0 auto;
    margin-right: 15px;
    min-width: 10px;
}

footer{
    height: 137px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-top: 1px solid #8080801a;
}
.social-link{
    display:flex;
}
.social-link a {
    background: #4c4c4c;
    width: 38px;
    height: 38px;
    display: block;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}
.fttext{
    color: #fff;
    margin-top: 10px;
}